body{
    background-color: rgb(45, 45, 165);
    text-align: center;
    h1{
        color: white;
    }
    .table-area{
        display: flex;
        justify-content: center;
        table{
            background-color: #fff;
            background-clip: border-box;
            border-collapse: collapse;

            thead{
                th{
                    width: 244px;
                    height: 35px;
                    color: white;
                }
                th:nth-child(2n+1) {
                    background: rgb(2, 6, 68);
                    background-clip: border-box;
                }
                th:nth-child(2n) {
                    background: aqua;
                    background-clip: border-box;
                }
            }
            tbody{
                td{
                    height: 30px;
                }
                tr{
                    background-color: #fff;
                }
                tr:nth-child(2n){
                    background-color: #f2f2f2;
                }
            }
            
            
        }
    }
}