body{
    background-color: rgb(29, 28, 27);
    h4{
        font-size: 25px;
        color: aqua;
    }
    h1{
        color: aqua;
        font-size: 40px;
    }
    span{
        color: yellow;
    }
    p,ul,ol{
        color: white;
    }
    .images{
        display: flex;
        align-items: center;
        .sad-part{
            display: flex;
            align-items: flex-end;
            margin-right: 40px;
            
        }
        .happy-part{
            display: flex;
            align-items: flex-end;
            img{
                width: 225px;
                height: 225px;
            }
            
            
        }
    }

}
